.bill-split-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  width: 30%;
  height: 100%;
  position: relative;
}

.app-content {
  width: 70%;
  height: 100%;
}
